<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <!-- 태일윈드 추가 -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- 부트스트랩 추가 -->
    <link
      crossorigin="anonymous"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      rel="stylesheet"
    />

    <!-- 제이쿼리 추가 + 부트스트랩서 사용하는 자바스크립트도 추가 -->
    <script
      crossorigin="anonymous"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      src="https://code.jquery.com/jquery-3.4.1.min.js"
    ></script>
    <script
      crossorigin="anonymous"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    ></script>

    <link
      href="{{url_for('static', filename = 'script.css')}}"
      rel="stylesheet"
      type="text/css"
    />
    <script src="{{url_for('static', filename='javascript.js')}}"></script>

    <style>
      #text_logo,
      #text_login,
      #text_logout,
      #text_signin,
      #text_user {
        text-decoration: none;
      }

      #text_logo:hover,
      #text_login:hover,
      #text_logout:hover,
      #text_signin:hover,
      #text_user:hover {
        color: #fd0166;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    {%with messages = get_flashed_messages()%} {%if messages %}
    <script type="text/javascript">
      alert("{{messages[-1]}}");
    </script>
    {%endif%} {%endwith%}
    <!-- header -->
    <nav
      id="navbar"
      class="bg-white sticky top-0 z-50 grid lg:grid-cols-2 px-20 py-4 items-center self-center"
    >
      <div class="flex space-x-3">
        <div class="flex">
          <img
            class="w-10 mr-2"
            src="{{url_for('static', filename='src/img/logo_main.png')}}"
            alt=""
          /><a
            id="text_logo"
            class="m-0 self-center text-3xl text-gray-800 font-bold"
            href="/"
          >
            최정기로드</a
          >
        </div>
        {% if email %}
        <a
          href="university/list"
          class="font-semibold text-gray-800 px-3 py-1"
          style="border: 3px solid #fd0166; border-radius: 10px"
        >
          등록요청대학
        </a>
        {% endif %}
      </div>

      {% block nav %} {% endblock %}
      <div class="flex justify-end items-center self-center">
        {% if not email %}
        <ul class="flex items-center space-x-6 mb-0">
          <li
            class="px-3 py-2"
            style="border: 3px solid #fd0166; border-radius: 10px"
          >
            <a
              class="font-semibold text-gray-800 px-3 py-2"
              href="/login"
              id="text_login"
            >
              로그인
            </a>
          </li>

          <li
            class="px-3 py-2"
            style="border: 3px solid #fd0166; border-radius: 10px"
          >
            <a
              class="font-semibold text-gray-800 px-3 py-2"
              href="/signin"
              id="text_signin"
              >회원가입</a
            >
          </li>
        </ul>
        {% else %}
        <ul class="flex items-center justify-end space-x-3 mb-0">
          <li
            class="px-3 py-2"
            style="border: 3px solid #fd0166; border-radius: 10px"
          >
            <a
              class="font-semibold text-gray-800 px-3 py-2"
              href="#"
              id="text_user"
              >{{email}}님</a
            >
          </li>

          <li
            class="px-3 py-2"
            style="border: 3px solid #fd0166; border-radius: 10px"
          >
            <a
              class="font-semibold text-gray-800 px-3 py-2"
              href="/logout"
              id="text_logout"
              >로그아웃</a
            >
            로그아웃
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
