<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% extends 'base.html' %} {% block nav %}

    <div class="flex justify-center bg-white">
      <form class="w-full max-w-3xl">
        <div
          class="flex justify-between items-center py-2 px-2"
          style="border: 7px solid #fd0166; border-radius: 10px"
        >
          <input
            class="appearance-none bg-transparent border-none w-full text-gray-700 py-1 px-0 leading-tight font-semibold justify-start"
            type="text"
            placeholder="대학명을 입력하세요."
            aria-label="Full name"
            style="width: 80%"
          />
          <a class="flex self-center" href="#card-list">
            <div
              class="px-1 py-1 font-semibold text-gray-800"
              style="background-color: #fd0166; border-radius: 10px"
            >
              검색
            </div>
          </a>
        </div>
      </form>
    </div>
    {% endblock %} {% block content %}

    <!-- 맛집 list (DB에 있을 경우) -->
    <ul class="card-list grid grid-cols-3 gap-4 m-20" id="card-list">
      {% for _ in range(10) %}

      <li>
        <div
          class="p-2 max-w-sm rounded-lg border border-gray-200 shadow-md dark:bg-gray-800"
          style="background-color: #fd0166"
        >
          <img
            class="rounded-t-lg"
            src="{{url_for('static', filename='src/img/sample.jpg')}}"
            alt=""
          />
          <div class="p-2 bg-white rounded-t-none rounded-b-lg">
            <div
              class="card-top-info mb-2 flex justify-between self-center items-center"
            >
              <a href="#">
                <p class="text-2xl mb-0 font-bold tracking-tight text-gray-800">
                  새마을식당
                </p>
              </a>
              <a href="#">즐겨찾기</a>
            </div>

            <div class="mb-2 scard-info-bottom flex justify-around">
              <div class="naver-rate">
                <span class="font-semibold" style="color: #00c73c">N</span>
                <span>4.32 / 4.5</span>
              </div>
              <div class="cjk-rate">
                <span class="font-semibold" style="color: #fd0166">C</span>
                <span>3.4 / 4.5 (20)</span>
              </div>
              <a href="#">평점등록</a>
            </div>
          </div>
        </div>
      </li>

      {% endfor %}
    </ul>
    <!-- 맛집 list (DB에 없을 경우) 
    <div class="mt-10 flex items-center justify-center">
      <div class="flex-col">
        <p>와플대의 맛집이 등록되어 있지 않습니다.</p>
        <p>등록 요청하시겠습니까?</p>
      </div>
    </div>-->
    {% endblock %}
  </body>
</html>
