<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      function toggleDropDown() {
        const targetCard =
          event.currentTarget.parentElement.parentElement.parentElement
            .parentElement;
        const targetId = targetCard.getAttribute("id");

        const dropDown = document.getElementById(
          `dropdownBgHover ${targetId}Btn`
        );
        dropDown.classList.toggle("hidden");
      }
    </script>
    <style>
      #rateSubmitBtn:hover {
        background-color: #fd0166;
      }
    </style>

    <title>Document</title>
  </head>
  <body>
    {% extends 'base.html' %} {% block nav %}

    <div class="flex justify-center bg-white">
      <div class="w-full max-w-3xl">
        <div
          class="flex justify-between items-center py-2 px-2"
          style="border: 7px solid #fd0166; border-radius: 10px"
        >
          <input
            onkeyup="enterInput()"
            id="universityInput"
            class="appearance-none bg-transparent border-none w-full text-gray-700 py-1 px-0 leading-tight font-semibold justify-start"
            type="text"
            placeholder="대학명을 입력하세요."
            aria-label="Full name"
            style="width: 80%"
            value="{{university}}"
          />
          <button
            onclick="submitInput()"
            type="button"
            class="px-1 py-1 font-semibold text-gray-800"
            style="background-color: #fd0166; border-radius: 10px"
          >
            검색
          </button>
        </div>
      </div>
    </div>
    {% endblock %} {% block content %} {% if restaurants %}
    <!-- 맛집 list (DB에 있을 경우) -->
    <ul
      class="card-list grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4 m-20"
      id="card-list"
    >
      {% for restaurant in restaurants %}
      <li class="px-5 py-2" id="{{restaurant._id}}">
        <div
          class="p-2 rounded-lg border border-gray-200 shadow-md dark:bg-gray-800"
          style="background-color: #fd0166"
        >
          {% if restaurant.store_pic %}
          <img class="rounded-t-lg m-0 w-full" src="{{restaurant.store_pic}}" />
          {% else %}
          <img
            class="rounded-t-lg m-0 w-full"
            src="{{url_for('static', filename='/src/img/default_pic.png')}}"
          />
          {% endif %}

          <div class="p-2 bg-white rounded-t-none rounded-b-lg">
            <div
              class="card-top-info mb-2 flex justify-between self-center items-center"
            >
              <a href="{{restaurant.store_link}}">
                <p class="text-2xl mb-0 font-bold tracking-tight text-gray-800">
                  {{restaurant.store_name}}
                </p>
              </a>
              <a href="#">즐겨찾기</a>
            </div>

            <div class="mb-2 scard-info-bottom flex justify-around self-center">
              <div class="naver-rate">
                <span class="font-semibold" style="color: #00c73c">N</span>
                <span>
                  {% if restaurant.store_star == '0.0' %} 미등록 / 5.0 {% else
                  %} {{restaurant.store_star}} / 5.0</span
                >
                {% endif %}
              </div>
              <div class="cjk-rate">
                <span class="font-semibold" style="color: #fd0166">C</span>
                <span>3.4 / 5.0 (20)</span>
              </div>
              <button
                id="dropdownBgHoverButton"
                data-dropdown-toggle="dropdownBgHover"
                class="font-semibold text-gray-800 focus:ring-4 focus:outline-none rounded-lg text-center inline-flex items-center"
                type="button"
                onclick="toggleDropDown()"
              >
                평점 등록
              </button>
            </div>
          </div>
        </div>
        <!-- dropdown -->
        <div class="flex justify-end">
          <form
            action="/rest/rate/{{restaurant.university_name}}/{{restaurant._id}}"
            method="post"
            id="dropdownBgHover {{restaurant._id}}Btn"
            class="hidden z-10 w-full bg-white rounded-b shadow dark:bg-gray-700"
          >
            <ul
              class="flex justify-between self-center text-center p-3 text-sm text-gray-700 dark:text-gray-200"
              aria-labelledby="dropdownBgHoverButton"
            >
              <li>
                <div class="flex items-center">
                  <input
                    id="radio-1"
                    type="radio"
                    value="rate-1"
                    name="rate-radio"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="radio-1"
                    class="m-0 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >1</label
                  >
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <input
                    id="radio-2"
                    type="radio"
                    value="rate-2"
                    name="rate-radio"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="radio-2"
                    class="m-0 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >2</label
                  >
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <input
                    id="radio-3"
                    type="radio"
                    value="rate-3"
                    name="rate-radio"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="radio-3"
                    class="m-0 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >3</label
                  >
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <input
                    id="radio-4"
                    type="radio"
                    value="rate-4"
                    name="rate-radio"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="radio-4"
                    class="m-0 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >4</label
                  >
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <input
                    id="radio-5"
                    type="radio"
                    value="rate-5"
                    name="rate-radio"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="radio-5"
                    class="m-0 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >5</label
                  >
                </div>
              </li>
            </ul>
            <div class="flex justify-center">
              <button
                id="rateSubmitBtn"
                type="submit"
                class="m-2 w-full px-5 py-1"
                style="border: 3px solid #fd0166; border-radius: 10px"
                onclick="submitRate()"
              >
                등록
              </button>
            </div>
          </form>
        </div>
      </li>

      {% endfor %}
    </ul>
    {% else %}

    <div class="mt-10 flex items-center justify-center">
      <div class="flex-col">
        <p>
          <strong style="color: #fd0166; text-decoration: underline"
            >{{university}}</strong
          >의 맛집이 등록되어 있지 않습니다.
        </p>
        <form action="/register/university" method="post">
          <input
            type="text"
            class="hidden"
            name="university_name"
            value="{{university}}"
          />
          <button
            type="submit"
            style="color: #fd0166; text-decoration: underline"
          >
            등록하시겠습니까?
          </button>
        </form>
      </div>
    </div>

    {% endif %} {% endblock %}
  </body>
</html>
