<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% extends "base.html" %} {% block content %}

    <div class="flex items-center justify-center">
      <img
        src="{{url_for('static', filename='src/img/logo_main.png')}}"
        alt="메인로고"
        width="430px"
      />
    </div>
    <div class="flex items-center justify-center">
      <div class="w-full max-w-3xl">
        <div
          class="flex justify-between py-2 px-2"
          style="border: 7px solid #fd0166; border-radius: 10px"
        >
          <input
            id="universityInput"
            class="appearance-none bg-transparent border-none w-full text-gray-700 py-4 px-1 leading-tight font-semibold"
            type="text"
            placeholder="대학명을 입력하세요."
            aria-label="Full name"
            style="width: 90%"
            onkeyup="enterInput()"
          />
          <button
            onclick="submitInput()"
            type="button"
            class="px-4 py-3 font-semibold text-gray-800"
            style="background-color: #fd0166; border-radius: 10px"
          >
            검색
          </button>
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
