<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {%extends 'base.html'%}{% block nav %}

    <div class="flex justify-center bg-white">
      <div class="w-full max-w-3xl">
        <div
          class="flex justify-between items-center py-2 px-2"
          style="border: 7px solid #fd0166; border-radius: 10px"
        >
          <input
            onkeyup="enterInput()"
            id="universityInput"
            class="appearance-none bg-transparent border-none w-full text-gray-700 py-1 px-0 leading-tight font-semibold justify-start"
            type="text"
            placeholder="대학명을 입력하세요."
            aria-label="Full name"
            style="width: 80%"
            value="{{university}}"
          />
          <button
            onclick="submitInput()"
            type="button"
            class="px-1 py-1 font-semibold text-gray-800"
            style="background-color: #fd0166; border-radius: 10px"
          >
            검색
          </button>
        </div>
      </div>
    </div>
    {% endblock %} {% block content %} {%if universities%} {% for university in
    universities %}

    <div>{{university.university_name}}</div>

    {% endfor %} {% else %}
    <div>등록 요청된 대학교가 없습니다.</div>

    {% endif %} {% endblock%}
  </body>
</html>
