<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 부트스트랩 추가 -->
    <link
      crossorigin="anonymous"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      rel="stylesheet"
    />

    <!-- 제이쿼리 추가 + 부트스트랩서 사용하는 자바스크립트도 추가 -->
    <script
      crossorigin="anonymous"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      src="https://code.jquery.com/jquery-3.4.1.min.js"
    ></script>

    <script>
      $(document).ready(function () {
        $("navbar").removeClass("lg:grid-cols-2");
        $("navbar").addClass("lg:grid-cols-3");
      });
    </script>

    <title>Document</title>
  </head>
  <body>
    {%extends 'base.html'%}{% block nav %}

    <div class="flex justify-center bg-white">
      <div class="w-full max-w-3xl">
        <div
          class="flex justify-between items-center py-2 px-2"
          style="border: 7px solid #fd0166; border-radius: 10px"
        >
          <input
            onkeyup="enterInput()"
            id="universityInput"
            class="appearance-none bg-transparent border-none w-full text-gray-700 py-1 px-0 leading-tight font-semibold justify-start"
            type="text"
            placeholder="대학명을 입력하세요."
            aria-label="Full name"
            style="width: 80%"
            value="{{university}}"
          />
          <button
            onclick="submitInput()"
            type="button"
            class="px-1 py-1 font-semibold text-gray-800"
            style="background-color: #fd0166; border-radius: 10px"
          >
            검색
          </button>
        </div>
      </div>
    </div>
    {% endblock %} {% block content %}
    <div class="ml-3 my-10 font-bold text-5xl">이번주에 등록 요청된 대학교</div>
    <div id="university_board" class="flex justify-center">
      {%if universities%}
      <div
        id="university_list"
        class="w-1/4 p-3 flex justify-between self-center"
        style="background-color: rgba(121, 117, 118, 0.4); border-radius: 10px"
      >
        <ul class="m-0">
          {% for university in universities %}

          <li class="text-4xl p-2">{{university.university_name}}</li>

          {% endfor %}
        </ul>
      </div>
    </div>
    {% else %}
    <div>등록 요청된 대학교가 없습니다.</div>

    {% endif %}
    <div class="mt-10 flex justify-center">
      <a href="/" class="text-xl" style="color: #fd0166">홈으로</a>
    </div>
    {% endblock%}
  </body>
</html>
